@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --theme-red-1: #ff4c4c;
  --theme-red-2: #d84040;
  --theme-red-3: #85193c;
  --theme-blue-1: #637ab9;
  --theme-blue-2: #31326f;
  --theme-turquoise-0: #f4fffe;
  --theme-turquoise-1: #a8fbd3;
  --theme-turquoise-2: #4fb7b3;
  --theme-turquoise-3: #006a67;
  --theme-green-3: #1b4d3e;
  --theme-neutral-gray: #f8fafc;
  --theme-forest-dark: #34423a;
  --theme-teal: #0f766e;
  --theme-rose: #e11d48;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--theme-neutral-gray);
  --color-foreground: var(--theme-forest-dark);
  --color-theme-red-1: var(--theme-red-1);
  --color-theme-red-2: var(--theme-red-2);
  --color-theme-red-3: var(--theme-red-3);
  --color-theme-blue-1: var(--theme-blue-1);
  --color-theme-blue-2: var(--theme-blue-2);
  --color-theme-turquoise-0: var(--theme-turquoise-0);
  --color-theme-turquoise-1: var(--theme-turquoise-1);
  --color-theme-turquoise-2: var(--theme-turquoise-2);
  --color-theme-turquoise-3: var(--theme-turquoise-3);
  --color-theme-green-3: var(--theme-green-3);
  --color-theme-neutral-gray: var(--theme-neutral-gray);
  --color-theme-forest-dark: var(--theme-forest-dark);
  --color-theme-teal: var(--theme-teal);
  --color-theme-rose: var(--theme-rose);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lexend: var(--font-lexend-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--theme-forest-dark);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer utilities {
  .card-base {
    @apply bg-white shadow-sm border border-gray-200 rounded-xl;
  }
  .item-card-base {
    @apply bg-gray-50 hover:bg-gray-100 border border-gray-200 rounded-xl;
  }
  .headings {
    @apply text-2xl font-semibold text-theme-forest-dark font-lexend;
  }
  .item-card-headings {
    @apply text-base font-semibold text-theme-forest-dark font-lexend;
  }
  .Toastify__toast {
    @apply !p-6 !font-lexend !bg-theme-neutral-gray !text-theme-forest-dark !border !border-gray-200 !rounded-xl;
  }
}

@layer components {
  .summary-highlight {
    @apply flex justify-around px-4 py-2 mb-2 rounded-xl;
  }
}

/* CUSTOM UTILITIES */
/* @layer utilities {
  . {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
} */

/* NOT DARK MODE FOR NOW */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-theme-neutral-gray);
  color: var(--color-theme-forest-dark);
  font-family: var(--font-lexend-sans);
}

html {
  font-size: 16px; /* Base font size for desktop */
}

/* Large desktops (1440px and up) */
@media (min-width: 1440px) {
  html {
    font-size: 17px;
  }
}

/* Laptops / tablets landscape (1024px–1439px) */
@media (max-width: 1439px) and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

/* Tablets portrait (768px–1023px) */
@media (max-width: 1023px) and (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

/* Mobile devices (480px–767px) */
@media (max-width: 767px) and (min-width: 480px) {
  html {
    font-size: 10px;
  }
}

/* Small mobile (below 480px) */
@media (max-width: 479px) {
  html {
    font-size: 7px;
  }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
