@import "tailwindcss";

:root {
  --theme-blue-1: #637ab9;
  --theme-blue-2: #31326f;
  --theme-turquoise-0: #f8fffe;
  --theme-turquoise-1: #a8fbd3;
  --theme-turquoise-2: #4fb7b3;
}

@theme inline {
  --color-background: var(--theme-turquoise-1);
  --color-foreground: var(--theme-blue-2);
  --color-theme-blue-1: var(--theme-blue-1);
  --color-theme-blue-2: var(--theme-blue-2);
  --color-theme-turquoise-0: var(--theme-turquoise-0);
  --color-theme-turquoise-1: var(--theme-turquoise-1);
  --color-theme-turquoise-2: var(--theme-turquoise-2);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* CUSTOM UTILITIES */
/* @layer utilities {
  . {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
} */

/* NOT DARK MODE FOR NOW */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
